@charset "utf-8";
.uom, .uom > label {
    padding-top: 3px;
    font-size: 9px;
    font-weight: 100;
    font-style: italic;
    text-transform: lowercase;
}
h4 > .uom {
    padding-left: 5px;
}
.oe_price_h4 {
    display: inline-flex;
}
